/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    width: 250px;
    text-align: left;
    padding: 2rem;
    margin: 5rem;
    color: rgb(192, 183, 183);
    font-family: 'Source Sans Pro', sans-serif;
}
.obsah{
    padding-bottom: 1rem;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
.profil{
    background-color: #31363b;
    width: 250px;
    padding: 1rem;
    box-shadow: 2px 2px 7px #31363b;
}

.foto{
    width: 266px;
    margin: 0;
    padding-right: 1rem;
    position: relative;
    top: -16px;
    left: -16px;

}  
    
.odkazy{
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0; 
}

.odkazy li{
    display: inline-block;
    /*border-top: 2px solid #3f464d;*/
}

a{
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
    /*padding: 1rem 2rem;*/
}


.portfolio{
    position: relative;
    bottom: 1rem;
    padding: 0;
    margin: 0;    
}

.facebook{
    position: relative;
    right: 2rem;
}
.twitter{
    position: relative;
    left: 1rem;
    
}
.portfolio a:hover{
    background-color: #e74c3c; 
}

.facebook a:hover{
    background-color:#3b5998;
}

.twitter a:hover{
    background-color:#1da1f2; 
}


