/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    font-size: 15px;
    width: 250px;
    text-align: left;
    padding: 2rem;
    margin: 5rem;
    color: rgb(192, 183, 183);
    font-family: 'Source Sans Pro', sans-serif;
}

.obsah{
    padding: 1rem;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #fff;
}
.profil{
    background-color: #31363b;
    width: 250px;
    box-shadow: 2px 2px 7px #31363b;
}

.foto{
    width: 266px;
    margin: 0;
    padding-right: 1rem;
    position: relative;
}  

.logo{
    position: absolute;
    background-color: #b92e81;
    border-radius: 50%;
    left: 290px;
    top: 250px;
    box-shadow: 2px 2px 7px #31363b;
}
    
.odkazy{
    justify-content: center;
    font-size: 0;
    padding: 0;
    text-transform: uppercase;
    
}
.odkazy ul{
    margin: -1rem;
}

.odkazy li{
    display: inline-block;
    font-size: 0.7rem;
    text-align: center;
    border-top: 1px solid #3f464d;
}

a{
    display: block;
    font-weight: bold;
    color: rgb(192, 183, 183);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 1rem 2rem;
}


.portfolio{
    width: 100%;
}

.facebook{
    width: 50%;
    border-right: 1px solid #3f464d;
}
.twitter{
    width: 50%;
    
}
.portfolio a:hover{
    background-color: #e74c3c; 
}

.facebook a:hover{
    background-color:#3b5998;
}

.twitter a:hover{
    background-color:#1da1f2; 
}

a:hover{
    color: #fff;
}

